<%#
Copyright 2011-2013, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>
<style>

    /* Sticky footer styles
      -------------------------------------------------- */

    html,
    body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
        min-height: 60%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -380px;
    }

    /* Set the fixed height of the footer here */
    #push{
        height: 400px;
    }
    #footer {

    }

    /* Lastly, apply responsive CSS fixes as necessary */
    @media (max-width: 767px) {
        #footer {
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

</style>
<!-- Part 1: Wrap all page content here -->
<div id="wrap">


  <div id="push"></div>
</div>

<div id="footer">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 offset1">
      <div class="span3">
        <ul class="unstyled">
          <li><a href="#">Hours</a></li>
          <li><a href="#">Staff Directory</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Fellowships & Internships</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Site Feedback</a></li>

        </ul>
      </div>
      <div class="span3">
        <ul class="unstyled">
          <li>Using the Library<li>
          <li><a href="#">Library Use Policies</a></li>
          <li><a href="#">Off-Grounds Access</a></li>
          <li><a href="#">Library & ITS Accounts</a></li>
          <li><a href="#">Accessibility Services</a></li>
        </ul>
      </div>
      <div class="span3">
        <ul class="unstyled">
          <li>Initiatives<li>
          <li><a href="#">Libra</a></li>
          <li><a href="#">Project Hydra</a></li>
        </ul>
      </div>
      <div class="span3">
        <ul class="unstyled">
          <li>Other Sites<li>
          <li><a href="#">UVaCollab</a></li>
          <li><a href="#">SIS</a></li>
          <li><a href="#">ITS</a></li>
          <li><a href="#">Cavalier Advantage</a></li>
          <li><a href="#">U.Va. Home</a></li>
          <li><a href="#">Library Staff Site</a></li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <hr />
        <p class="muted">
          University of Virginia Library, P.O. Box 400113, Charlottesville, VA 22904-4113
          (Parcel Service Delivery: Alderman Library, 160 McCormick Road, Charlottesville, VA 22903)
        </p>
      </div>
    </div>
  </div>

  <hr>
  <div class="row-fluid">
    <div class="span10 offset1">
        <p class="muted">
          <img src="http://search.lib.virginia.edu/images/federal_lib_logo.png">
          This library is a Congressionally designated depository for U.S. Government documents.
          Public access to the Government documents is guaranteed by public law.
        </p>
    </div>
  </div>
</div>
</div>

