<%#
Copyright 2011-2013, The Trustees of Indiana University and Northwestern
  University.  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.

You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed 
  under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
  CONDITIONS OF ANY KIND, either express or implied. See the License for the 
  specific language governing permissions and limitations under the License.
---  END LICENSE_HEADER BLOCK  ---
%>


<div class="lib_banner_container">
  <div class="lib_banner container_24">
    <div id="uva_lib_logo" class="grid_14 alpha">
      <a href="http://www.library.virginia.edu/">
        <img src="http://search.lib.virginia.edu/images/uva_lib_logo.png" width="200" height="15" alt="University of Virginia Library">
      </a>
      <div class="portal_status">
      </div>
    </div> <!-- end #uva_lib_logo -->
  </div> <!-- end .lib_banner -->
</div>

<style>
    @media (max-width: 767px) {
        .lib_banner_container {
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
</style>